<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
 <preference for="Magento\Customer\Block\Account\SortLink" type="SageKit\Bootstrap4Customer\Block\Account\SortLink" />
 <preference for="Magento\Customer\Block\Account\Link" type="SageKit\Bootstrap4Customer\Block\Account\Link" />
 <preference for="Magento\Customer\Block\Account\RegisterLink" type="SageKit\Bootstrap4Customer\Block\Account\RegisterLink" />
</config>