<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
 <preference for="Magento\Framework\View\Element\Html\Link\Current" type="SageKit\Bootstrap4LinkCurrent\View\Element\Html\Link\Current" />
</config>